@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h2>@ViewBag.Title Us</h2>


@*<div class="row">
    <div class="col-sm-1 col-xs-2 bg-primary"></div>
    <div class="col-sm-1 bg-success hidden-xs"></div>
</div>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<div class="row">
    <div class="col-sm-1 col-xs-2 bg-primary"></div>
    <div class="col-sm-1 bg-success hidden-xs"></div>
</div>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@
<form action="#" method="POST" role="form">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <i class="fa fa-user"></i>
                <input type="text" class="form-control border-color-1" id="exampleInputEmail1" placeholder="First name" name="firsName">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="text" class="form-control border-color-2" id="exampleInputEmail2" placeholder="Email address" name="email">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <input type="text" class="form-control border-color-5" id="exampleInputEmail3" placeholder="Phone" name="phoneNumber">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <i class="fa fa-book" aria-hidden="true"></i>
                <input type="text" class="form-control border-color-6" id="exampleInputEmail4" placeholder="Subject" name="subject">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <textarea class="form-control border-color-4" placeholder="Write message" name="message"></textarea>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formBtnArea">
                <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
        </div>
    </div>
</form>