@{
   ViewBag.Title = "Online Shopping Store:  Order Submitted";
}
<h2>Thanks!</h2>
Thanks for placing your order. We'll ship your goods as soon as possible.
<h1>login in gmail with email: <strong>kidstoreazure@gmail.com</strong> password: <strong>kidstore</strong> to see order details</h1>