@model OnlineStorePlatform.Models.BindingModels.AddNewCategoryBm

@{
    ViewBag.Title = "Add New Category";
}


@using (Html.BeginForm(null,null,FormMethod.Post, new { @enctype="multipart/form-data"}))
{
    <div class="row add-category">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="Name">
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model=>model.ImageFile, new { @type="file", @class="btn btn-warning"})
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-lg btn-info" />
            </div>
        </div>
    </div>
}