@model OnlineStorePlatform.Models.ViewModels.Category.DeleteCategoryVm

@{
    ViewBag.Title = "Delete Category";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="row deleteCat" style="margin-top: 20px;">
    @using (Html.BeginForm())
    {
        <div class="row delete-category">
            <div class="imgwrapper">
                <img class="img-responsive" src="~/IMG/Categories/@Html.DisplayFor(vm=>vm.ImageUrl)" alt="Category" />
            </div>
            <div class="form-group">
                @Html.LabelFor(vm => vm.Name)
                @Html.TextBoxFor(vm => vm.Name, new { @class = "form-control border-color-2", disabled = "disabled" })
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="form-group btn btn-danger btn-lg" />
            </div>
        </div>
    }
</div>