@model OnlineStorePlatform.Models.ViewModels.Category.EditCategoryVm

@{
    ViewBag.Title = "Edit Category";
}
<hr />
<hr />
@using (Html.BeginForm("EditCategory", "Admin", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div class="row edit-category">
        <div class="form-group">
            <img src="~/IMG/Categories/@Html.DisplayFor(vm=>vm.ImageUrl)" alt="Category" />
        </div>
        <div class="form-group">
            @Html.TextBoxFor(vm=>vm.ImageFile, new {@type="file" })
        </div>

        <div class="form-group">
            @Html.LabelFor(vm => vm.Name)
            @Html.EditorFor(vm => vm.Name, new { htmlAttbutes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            <input type="submit" value="Save Changes" class="form-group btn btn-warning btn-lg" />
        </div>
    </div>
}
